ul(data-role='listview')
  each collection in collections
    li
      a(href="/b/#{collection.name}")= collection.name
  each hd in hdhomerun
    each tuner in hd.tuners
      li
        a(href="/tv/#{hd.name}/#{tuner}") #{hd.name} #{tuner}
