extends layout

block content
  ul(data-role='listview')
    for channel in channels
      li
        a(href='/media/view/tv/#{device}/#{tuner}/#{channel.channel}/#{channel.program}')
          label #{channel.virtual} #{channel.description}
